@import './colors';
@import './constants';

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: $accent;
  color: $light;
  border: none;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  &:active {
    transform: translateY(1px);
  }
}

.big-btn {
  font-size: 1.75rem;
}

.small-btn {
  font-size: 1.25rem;
}

.btn-alert {
  background-color: $alert;
  color: $light;
}
